<html>
<head>
	<title>{% block head %} Домашняя страница проекта {% endblock %}</title>
</head>
<body>
	<center><h1>{% block title %} Добро пожаловать! {% endblock %} </h1></center>
	{% block content %}
	<p> Я рад приветствовать Вас на начальной странице моей курсовой работы. </p>
	<p> Поскольку целью данной работы было больше изучение того, как работает Django, страницы выглядят так грустно и убого.
	Можно было бы отдельно развить идею того, что я с тегами HTML только на Вы и со словарем, но уже сказанного достаточно.</p>
	<p> Дабы долго не тянуть кота за хвост, перейдем к самой сути и пройдем <a href="http://127.0.0.1:8000/accounts/login/">авторизацию</a>.</p>
	{% endblock %}
	{% block footer %}
	<hr>
	<p>Автор проекта: Титов Валерий, студент группы ЭВТ-08, кафедра ИТАС, Электротехнический факультет, ПНИПУ.</p>
	<p>Отдельную благодарность хочу выразить разработчикам Django за столь красиво созданный продукт.</p>
	{% endblock %}
</body>
</html>
